[user]
	name = Hendrik van Antwerpen
	email = hendrik@van-antwerpen.net
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[diff]
    compactionHeuristic = true
[merge]
	defaultToUpstream = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
